
#commentAccordion {
    background-color:rgb(82, 120, 247);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

#commentAccordion:hover {
    background-color: rgb(66, 66, 248);
}

#commentPanel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
}