
<div *ngIf="currentEvent" class="jumbotron" style="width: 75%; margin: auto">
  <!-- <img src="../../../../src/assets/Events.jpg" alt="Event Photo" 
    style="width: 60%; margin: auto; display:block"> -->
  <div>
    <h1 style="display: inline">{{currentEvent.name}}</h1>
    <span style="float: right">{{currentEvent.time | date}}</span>
  </div>
  <div>
    <span style="margin: 0 3px" class="badge badge-primary" 
      *ngFor="let tag of currentEvent.tags">{{tag}}</span>
  </div>
  <div>
      <span style="margin: 0 3px" class="badge badge-info" 
        *ngFor="let group of currentEvent.groups">{{group}}</span>
  </div>
  <div>
      <p>{{currentEvent.description}}</p>
  </div>

  <!-- location -->
  
  <div>
    <div>
      <iframe width="500" height="400"
        [src]="mapLocation()" frameborder="0" style="border:0; margin: auto; display: block">
      </iframe>
    </div>
  </div>
  <br>
  <div class="container" style="position: relative;">
    <button class="btn btn-primary" (click)="rsvp()">RSVP</button>
    <button class="btn btn-info" (click)="updateEvent()" style="position: absolute; right: 123px">Update Info</button>
    <button class="btn btn-danger" (click)="deleteEvent()" style="position: absolute; right: 10px">Delete Event</button>
  </div>
  
  <br>

  <button *ngIf="loggedIn()" id="commentAccordion" (click)="toggleComments()">Comments</button>
    <div id="commentPanel" *ngIf="displayComments">
      <div *ngIf="currentEvent.comments">
        <hr>
        <div *ngFor="let comment of currentEvent.comments">
          <p>{{comment}}</p>
          <hr>
        </div>
      </div>
      <div>
        <textarea cols="80" rows="5" [(ngModel)]="currentComment" placeholder="Write a comment..."></textarea>
        <button class="btn btn-primary" (click)="addComment()">Send</button>
      </div>
    </div>

  <hr>

  <div class="container align-center">
    <button class="btn btn-dark" (click)="goBack()" >Go Back</button>
  </div>

</div>
