<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="home"><img src="https://s3.us-east-2.amazonaws.com/diverpix/rev_logo.png"  width="90" height="38"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="create-event"> New Event</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="event-list">Events</a>
      </li>
    </ul>
    <div class="form-group m-auto">
      <app-search></app-search>
    </div>

    <a class="nav-link btn btn-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" *ngIf="!loggedIn">Log In</a> 
    <a class="nav-link btn btn-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" *ngIf="loggedIn">Account Info/Logout</a> 
    <div class="dropdown-menu" style="right: 0; left: auto;" aria-labelledby="navbarDropdownMenuLink">
      <div class="form-group m-2 " (keyup.enter)="login()" *ngIf="!loggedIn">
        <input type="text" name="username" id="nav-username" placeholder="Username" class="form-control" [(ngModel)]="username">
        <input type="password" name="password" id="nav-password" placeholder="Password" class="form-control" [(ngModel)]="password">
        <input type="button" value="Log In" name="login-btn" id="login-btn" class="btn btn-dark" (click)="login()">
        <input type="button" value="New Account" name="createAccount-btn" id="createAccount-btn" class="btn btn-success" (click)="createAccount()">
      </div>
      <div class="form-group m-2 " *ngIf="loggedIn">
        <input type="button" value="View Account" name="login-btn" id="login-btn" class="btn btn-dark" (click)="userProfileView()">
        <input type="button" value="Log Out" name="createAccount-btn" id="createAccount-btn" class="btn btn-success" (click)="logout()">
      </div>
    </div>
  </div>
</nav>
