<div style="text-align: center">
  <h1>Login</h1>
</div>
<form>
  <div class="container">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="Username" required minlength="1" maxlength="50" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password" required minlength="1" maxlength="50" [(ngModel)]="password">
    </div>
    <button type="button" class="btn btn-success" (click)="login()">Log In</button>
    <button type="button" class="btn btn-default" (click)="createAccount()">Register</button>
  </div>
</form>