<div class="container center-block">
  <form>
    <div class="container center" style="display: block; margin-left: auto; margin-right: auto; width: 75%">
      <img [src]="eventImageUrl" class="img-circle img-fluid" alt="eventImg">
        <h6 class="center">Upload an event picture</h6>
        <input type="file" accept="image/*" class="text-center center-block file-upload" (change)="selectFile($event)">
        <input type="button" value="Upload Photo" class="btn btn-success" [disabled]="!selectedFiles" (click)="uploadImage()">
    </div>
    <div class="form-group">
      <label for="eventName">Event Name: </label>
      <input type="text" [(ngModel)]="newEvent.name" name="eventName" class="form-control" placeholder="Event Name">
      <small id="eventNameHelp" class="form-text text-muted">Enter the name for your event here.</small>
    </div>
    <div class="form-group text-align-left">
      <label for="eventDescription">Description: </label> <br>
      <textarea [(ngModel)]="newEvent.description" name="eventDescription" cols="95" rows="3" placeholder="A description for your event."></textarea>
      <small id="eventDescriptionHelp" class="form-text text-muted">Describe your event in a few words.</small>
    </div>
    <div class="form-group">
      <label for="eventLocation">Location: </label>
      <input type="text" [(ngModel)]="newEvent.location" name="eventLocation" class="form-control" placeholder="123 Example Ave.">
      <small id="eventLocationHelp" class="form-text text-muted">Where will your event take place?</small>
    </div>
    <div class="form-group">
      <label for="eventDate">Date of Event: </label>
      <input type="text" name="eventDate" class="form-control" [(ngModel)]="newEvent.time" placeholder="MM/DD/YYYY HH:MM AM/PM">
      <small id="eventDateHelp" class="form-text text-muted">When will your event be?</small>
    </div>
    <div class="form-group">
      <label for="eventTagInput">Tags:</label>
      <input type="text" class="form-control" name="eventTagInput" [(ngModel)]="eventTagInput" placeholder="Tag Name">
      <button class="btn btn-primary" (click)="addTag()">Add Tag</button>
      <div>
        <span class="badge badge-success" *ngFor="let e of eventTagList" (click)="removeTag(e)">{{e}}</span>
      </div>
      <small id="eventTagsHelp" class="form-text text-muted">Add some tags to describe your event.</small>
    </div>
    <button class="btn btn-submit" (click)="createEvent()" *ngIf="eventId == null">Create Event!</button>
    <button class="btn btn-primary" (click)="updateEvent()" *ngIf="eventId != null">Update!</button>
  </form>
  <br>
<br>
<br>
<br>
<br>
<br>
</div>
